@import "addons.scss";

.winecellar {
  @include addons;
  
  
  .v-table-cell-content-gray {
  	color: lightgray;
  }
  
  .v-touchkit-navbutton span {
  	position: absolute;
  	right: 30px;
  }
  
  .v-touchkit-componentgroup-cell>.v-touchkit-navbutton {
	padding-right: 75px;
  }
  
  .v-touchkit-navbutton.gray {
  	color: lightgray;
  }

  .v-touchkit-verticalcomponentgroup .v-touchkit-navbutton:after {
	top: 3px;
  }

}
