/* builds on Touchkit theme, imported in GWT and not here. */

@mixin winecellar {

  
  .v-label-error {
  	color: #cc0000;
  }
  
  .v-touchkit-componentgroup-row-full>.v-touchkit-componentgroup-cell {
  	flex-grow: 5;
  }
  
  .v-touchkit-componentgroup-row-full>.v-caption {
  	flex-grow: 2;
  }
  
  .v-touchkit-navview-toolbar {
  
  	z-index:0;
  }
  
}
